vti_encoding:SR|utf8-nl
vti_author:SR|RIYASUNIL\\riyas
vti_modifiedby:SR|RIYASUNIL\\riyas
vti_timelastmodified:TR|04 Aug 2023 13:15:35 -0000
vti_timecreated:TR|18 Jul 2023 19:37:14 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contact-us.html enquiry.html my-family.html my-friends.html guide.html template.dwt qualification.html skills.html about-us.html IT\\ 2023.html index.html
vti_nexttolasttimemodified:TW|04 Aug 2023 13:14:31 -0000
vti_cacheddtm:TX|04 Aug 2023 13:15:35 -0000
vti_filesize:IR|2207
vti_cachedlinkinfo:VX|S|../images/Family/g1.jpg
vti_cachedsvcrellinks:VX|FSUS|images/Family/g1.jpg
